/* 
====================================================
projectPage CSS
====================================================
*/


.projectSection {
    background-color: rgb(244, 244, 250);
    padding: 200px 0 100px 0;
}

.projectSection .titleTextBox {
    margin: 0 auto;
    text-align: center;
}

.projectSection .titleTextBox .titleText {
    font-size: 1.8rem;
    font-weight: 600;
    color: #7e69fe;
    /* padding-bottom: 50px; */
}

.projectSection .projectContainer {
    margin: 50px auto 0 auto;
    width: 60%;
    background-color: #ffffff;
    border: 1px solid #7e69fe;
    border-radius: 15px;
    display: flex;
    padding: 30px;
    justify-content: space-between;
}

.projectSection .projectContainer .leftSide {
    width: 45%;
}

.projectSection .projectContainer .leftSide img {
    display: block;
    width: 100%;
    margin-bottom: 25px;
}

.projectSection .projectContainer .leftSide .viewDetail {
    cursor: pointer;
    width: 100%;
    padding: 10px 0;
    border-radius: 15px;
    border: none;
    background-color: #7e69fe;
    border: solid 2px #7e69fe;
    color: white;
    font-size: 20px;
}

.projectSection .projectContainer .rightSide {
    width: 50%;
}

.projectSection .projectContainer .rightSide .titleTextBox {
    display: flex;
}

.projectSection .projectContainer .rightSide .titleTextBox img {
    height: 40px;
}

.projectSection .projectContainer .rightSide .titleTextBox .text {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 10px;
    line-height: 1.5;
}

.projectSection .projectContainer .detailInfoBox {
    margin-top: 20px;
}

.projectSection .projectContainer .detailInfoBox .detailText {}

.projectSection .projectContainer .detailInfoBox .detailText .text,
.projectSection .projectContainer .detailInfoBox .detailText .list {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 10px;
}

.projectSection .projectContainer .logoImg {
    margin-top: 20px;
    text-align: right;
}

.projectSection .projectContainer .logoImg .linkIcon {
    display: inline;
    margin-right: 10px;
    margin-bottom: 0;
    width: 50px;
    cursor: pointer;
}

.mobileReady {
    display: none;
}

/* 반응형 작업을 위한 PC용 SECTION 숨김처리 */
@media screen and (max-width: 980px) {
    header, .projectSection, footer {
        display: none;
    }

    .mobileReady {
        display: block;
        height: 100vh;
        background-color: rgb(244, 244, 250);
        text-align: center;
    }

    .mobileReady .textBox {
        padding-top: 50%;
    }

    .mobileReady .textBox img {
        width: 50%;
    }

    .mobileReady .textBox h2 {
        font-size: 2rem;
        line-height: 1.5;
        font-weight: 600;
        color: #7e69fe;
    }

    .mobileReady .textBox p {
        font-size: 1.2rem;
        line-height: 1.3;
    }
}
